{% if enable_pybind11 -%}
from skbuild import setup
from setuptools import find_packages

setup(
    name="{{ python_package_distribution_name }}",
    packages=find_packages(where="src"),
    package_dir={"": "src"},
    cmake_install_dir="src/{{ python_package_import_name }}",
    include_package_data=True,
)
{%- else -%}
from setuptools import find_packages, setup

setup(
    name="{{ python_package_distribution_name }}",
    packages=find_packages(where="src"),
    package_dir={"": "src"},
)
{%- endif %}
