# {{ project_name }}

These are the docs for {{ project_name }}.

## Table of contents

{{'```{toctree}'}}
:maxdepth: 2

GitHub Repository <https://github.com/{{ repository_namespace }}/{{repository_name}}>
```

## Authors & license

{{'```{include}'}} license.md
```
