# {{ project_name }}

These are the docs for {{ project_name }}.

## Table of contents

```{toctree}
:maxdepth: 2

GitHub Repository <https://github.com/{{ repository_namespace }}/{{repository_name}}>
```

## Authors & license

Copyright {{ copyright_range }} {{ copyright_holder }}

Built by [Dan Foreman-Mackey](https://github.com/dfm) and contributors (see [the
contribution graph](https://github.com/dfm/tinygp/graphs/contributors) for the
most up-to-date list). Licensed under the MIT license (see `LICENSE`).
