Copyright {{ copyright_range }} {{ copyright_holder }}

Licensed under the {{ copyright_license }} license (see `LICENSE`).
See [the contribution graph](https://github.com/{{ repository_namespace }}/{{ repository_name }}/graphs/contributors)
for the most up-to-date list of contributors.
